DISCORD_TOKEN=PUT_YOUR_DISCORD_BOT_TOKEN_HERE
WEB_URL=https://xyntrixscripts.onrender.com
ADMIN_ROLE_ID=YOUR_ADMIN_ROLE_ID
WHITELIST_ROLE_ID=YOUR_WHITELIST_ROLE_ID
DB_PATH=xyntrix.db
SCRIPT_FILE=script.lua
PORT=10000
